<section class="text-gray-700 body-font overflow-hidden bg-white">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img alt="ecommerce" class="lg:w-1/2 w-full h-[500px] rounded border border-gray-200" [src]="productDetails.image">
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
  
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{productDetails.title}}</h1>
          <div class="flex mb-4">
            <app-rating [rating]="productDetails.rating.rate"></app-rating> <span class="text-gray-600 ml-3">{{productDetails.rating.rate}}</span> <span class="text-gray-600 ml-3">{{productDetails.rating.count}} Ratings</span> </div>
          <p class="leading-relaxed">{{productDetails.description}}</p>
          <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5">
            <span class="title-font font-medium text-2xl text-gray-900">{{productDetails.price | currency}}</span>
          </div>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 py-8">
            <div class="flex sm:items-center sm:justify-center w-full">
                <button
                    (click)="decrement()"
                    class="group py-4 px-6 border border-gray-400 rounded-l-full bg-white transition-all duration-300 hover:bg-gray-50 hover:shadow-sm hover:shadow-gray-300">
                    <svg class="stroke-gray-900 group-hover:stroke-black" width="22" height="22"
                        viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.5 11H5.5" stroke="" stroke-width="1.6" stroke-linecap="round" />
                        <path d="M16.5 11H5.5" stroke="" stroke-opacity="0.2" stroke-width="1.6"
                            stroke-linecap="round" />
                        <path d="M16.5 11H5.5" stroke="" stroke-opacity="0.2" stroke-width="1.6"
                            stroke-linecap="round" />
                    </svg>
                    
                </button>
                <input type="text"
                    class="font-semibold text-gray-900 cursor-pointer text-lg py-[13px] px-6 w-full sm:max-w-[118px] outline-0 border-y border-gray-400 bg-transparent placeholder:text-gray-900 text-center hover:bg-gray-50"
                    placeholder="1" [(ngModel)]="quantity">
                <button
                    (click)="increment()"
                    class="group py-4 px-6 border border-gray-400 rounded-r-full bg-white transition-all duration-300 hover:bg-gray-50 hover:shadow-sm hover:shadow-gray-300">
                    <svg class="stroke-gray-900 group-hover:stroke-black" width="22" height="22"
                        viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 5.5V16.5M16.5 11H5.5" stroke="#9CA3AF" stroke-width="1.6"
                            stroke-linecap="round" />
                        <path d="M11 5.5V16.5M16.5 11H5.5" stroke="black" stroke-opacity="0.2"
                            stroke-width="1.6" stroke-linecap="round" />
                        <path d="M11 5.5V16.5M16.5 11H5.5" stroke="black" stroke-opacity="0.2"
                            stroke-width="1.6" stroke-linecap="round" />
                    </svg>
                </button>
            </div>
            <button
                (click)="addToCart(productDetails.id)"
                class="group py-4 px-5 rounded-full bg-gray-100 text-blackfont-semibold text-lg w-full flex items-center justify-center gap-2 transition-all duration-500 hover:bg-gray-200">
                <svg class="stroke-black" width="22" height="22" viewBox="0 0 22 22" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10.7394 17.875C10.7394 18.6344 10.1062 19.25 9.32511 19.25C8.54402 19.25 7.91083 18.6344 7.91083 17.875M16.3965 17.875C16.3965 18.6344 15.7633 19.25 14.9823 19.25C14.2012 19.25 13.568 18.6344 13.568 17.875M4.1394 5.5L5.46568 12.5908C5.73339 14.0221 5.86724 14.7377 6.37649 15.1605C6.88573 15.5833 7.61377 15.5833 9.06984 15.5833H15.2379C16.6941 15.5833 17.4222 15.5833 17.9314 15.1605C18.4407 14.7376 18.5745 14.0219 18.8421 12.5906L19.3564 9.84059C19.7324 7.82973 19.9203 6.8243 19.3705 6.16215C18.8207 5.5 17.7979 5.5 15.7522 5.5H4.1394ZM4.1394 5.5L3.66797 2.75"
                        stroke="" stroke-width="1.6" stroke-linecap="round" />
                </svg>
                {{cartBtnTxt}}
            </button>
        </div>
        </div>
      </div>
    </div>
  </section>
  